.spalva{
   background-color: blue;
}

.virsutinerviduryje{
    height: 200px;
}
.virsutinedesineje{
    height: 200px;
}

.vienapervisa{
    height: 200px;
}

.mazavidurine{
    height: 200px;
}

.mazadesineje{
    height: 200px;
}